body,
ul,
li,
p,
a,
label,
input,
div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
}

.h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px !important;
  font-weight: 200 !important;
}

.h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px !important;
  font-weight: 300;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px !important;
}

/* General */
.logo {
  font-weight: 500 !important;
}

.text-warning {
  color: #ede861 !important;
}

.text-muted {
  color: #bcbcbc !important;
}

.text-success {
  color: #59ab6e !important;
}

.text-light {
  color: #cfd6e1 !important;
}

.bg-dark {
  background-color: #212934 !important;
}

.bg-light {
  background-color: #e9eef5 !important;
}

.bg-black {
  background-color: #1d242d !important;
}

.bg-success {
  background-color: #59ab6e !important;
}

.btn-success {
  background-color: #59ab6e !important;
  border-color: #56ae6c !important;
}

/* Nav */
#nav_top {
  min-height: 40px;
}

#nav_top * {
  font-size: .9em !important;
}

#main_nav a {
  color: #212934;
}

#main_nav a:hover {
  color: #69bb7e;
}

#main_nav .navbar .nav-icon {
  margin-right: 20px;
}

/* Hero Carousel */
#zay-hero-carousel {
  background: #efefef !important;
}

/* Carousel Hero */
#zay-hero-carousel .carousel-indicators li {
  margin-top: -50px;
  background-color: #59ab6e;
}

#zay-hero-carousel .carousel-control-next i,
#zay-hero-carousel .carousel-control-prev i {
  color: #59ab6e !important;
  font-size: 2.8em !important;
}

/* main heading /*/
.heading-title {
  margin: 20px auto;
  width: 40%;
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #main_nav .navbar-nav {
    max-width: 450px;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #main_nav .navbar-nav {
    max-width: 550px;
  }
}
